a.react-hamburger-menu-button {
  display: block;
  padding: 1rem;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: filter 300ms;
  color: var(--react-hamburger-menu-font-color);
  background-color: var(--react-hamburger-menu-background-color);
}
a.react-hamburger-menu-button:hover {
  filter: brightness(85%);
}
