* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --react-hamburger-menu-background-color: #205fa7;
  --react-hamburger-menu-background-color2: #1e5492;
  --react-hamburger-menu-font-color: white;
}
html {
  color: white;
  font-family: sans-serif;
}
div.react-hamburger-menu {
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--react-hamburger-menu-background-color);
  cursor: pointer;
}

@media (min-width: 900px) {
  div.react-hamburger-menu-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  div.react-hamburger-menu-list > div {
    width: max-content;
  }
}

.show-enter {
  opacity: 0;
  height: 0%;
}
.show-enter-active {
  opacity: 1;
  transition: 300ms;
}
.show-exit {
  opacity: 1;
}
.show-exit-active {
  opacity: 0;
  transition: 300ms;
}
.show-exit-done {
  opacity: 0;
}
